<ion-content no-padding >
    <div class="main">
      <div class="image">
        <img src="../../../../../assets/profile.svg" />
      </div>
      <div class="buttons">
        <ion-button expand="full" class="facebook">Login with Facebook</ion-button>
        <ion-button expand="full" class="google">Login with Google</ion-button>
        <ion-button expand="full" >Login with e-mail</ion-button>
      </div>

      <div class="sub-text-4">
          <ion-text>Don't have an account?</ion-text>
          <ion-text padding-start class="link">Signup here</ion-text>
        </div>    
    </div>
</ion-content>