
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 90vh;
    .title {
      font-size: 45px;
      color: #52bff7;
      .light {
        font-weight: 100;
      }
      .bold {
        font-weight: bold;
        margin-left: 15px;
      }
    }
    .image {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      margin: 10px 0;
    }
    .buttons {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 100%;
      padding: 0 40px;
      max-width: 500px;
      margin: 10px auto;
      min-width: 300px;
      ion-button:first-child {
        margin-bottom: 10px;
        color: white;
      }
      .facebook {
        --background: #3b5998;
      }
      .google {
        --background: #ff5733;
      }
    }
  }
  
  .sub-text-4 {
    color: #999;
    text-align: center;
    font-size: 14px;
  }