<ion-menu side='start'>
    <ion-content>
      <ion-list>
          <ion-item><a routerLink='/user/login' >Login</a></ion-item>

        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
 
<!--
  { path: 'user-login', component: UserLoginPageComponent },
  { path: 'user-change-password', component: ChangePasswordPageComponent },
  { path: 'new-user', component: NewUserPageComponent },
  { path: 'user-profile', component: UserProfilePageComponent },

-->

