
<!-- *ngIf="chat.userId == User" -->
<ion-row>
    <ion-col class="right" no-padding >
    <div class="imageAvatarRight">
      <div class="imageAvatarBottom">
        <ion-avatar class="avatar" >
          <div class="imageAvatarBottomIcon">
            <ion-icon name="add" expand="icon-only" color="light"> </ion-icon>
          </div>          
        </ion-avatar>
      </div>
      <ion-label color="light">
        <div class="chatDiv" >
          <p text-wrap padding>chat.message </p>
          <div class="corner-parent-right">
            <div class="corner-child-right">

            </div>
          </div>
        </div>
      </ion-label>
    </div>
  </ion-col>
</ion-row>